[submodule "XIUI/submodules/gdifonts"]
	path = XIUI/submodules/gdifonts
	url = git@github.com:ThornyFFXI/gdifonts.git
[submodule "XIUI/submodules/mobdb"]
	path = XIUI/submodules/mobdb
	url = https://github.com/ThornyFFXI/mobdb.git
[submodule "XIUI/submodules/xiui-icons"]
	path = XIUI/submodules/xiui-icons
	url = https://github.com/Vincerno/xiui-icons.git
